.topBar{
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    z-index: 100;
}

.topBar__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
}

.topBar__content > h1{
    font-family: 'lobster two';
    font-weight: 700;
    font-size: 28px;
}

.topBar__content__search{
    padding: 5px;
    padding-left: 58px;
    margin-left: 0;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}